footer.footer
	.container
		.footer__top
			.footer__contacts-wrap
				h2.footer__title.main_titles Contact
				.footer__soc-networks
					a(href="#").footer__network.footer__network--fb Facebook
					a(href="#").footer__network.footer__network--tw Twitter
					a(href="#").footer__network.footer__network--g Google
					a(href="#").footer__network.footer__network--pin Pinterest
					a(href="#").footer__network.footer__network--lin Linkedin
				.footer__contacts
					h3.footer__address Address
					p.footer__address-descr There are many variations of passages of Lorem Ipsum available
					h3.footer__tel Phone
					p.footer__phone +48 202-555-0114
			form(method="post" action="#").footer__form
				p: label(for="name").footer__inputs Name.
				input(type="text" name="name" id="name")
				p: label(for="email").footer__inputs Email.
				input(type="email" name="email" id="email")
				p: label(for="Message").footer__inputs Massege.
				textarea( name="Message" id="Message")
				button(type="submit").btn Send
		.footer__bottom
			.footer__copy
				p.footer__copy-descr Copyright 2015 &copy by Anna Dadej
			.nav
				ul.nav__list.nav--footer
					li: a.nav__link(href="#") Home
					li: a.nav__link(href="#") What I do
					li: a.nav__link(href="#") My works
					li: a.nav__link(href="#") About
					li: a.nav__link(href="#") Contact