header.header
	.container
		nav.nav
			ul.nav__list.nav--header
				li.nav__item: a.nav__link(href="#") Home
				li.nav__item: a.nav__link(href="#") What I do
				li.nav__item: a.nav__link(href="#") My works
				li.nav__item: a.nav__link(href="#") About
				li.nav__item: a.nav__link(href="#") Contact
		section.slider
			.slider__slide
				.slider__wrap
					h2.slider__title Tacos cardigan truffaut Quanted!
					img.slider__img(src="images/spectacles_slider.png" alt="some img" width="529px")
					a.btn.btn--slider(href="#") See more
			.slider__slide
				.slider__wrap
					h2.slider__title Sed ut perspiciatis unde omnis iste natus error sit voluptatem!
					img.slider__img(src="images/spectacles_slider.png" alt="some img" width="529px")
					a.btn.btn--slider(href="#") See more
			.slider__slide
				.slider__wrap
					h2.slider__title No one rejects, dislikes, or avoids pleasure itself!
					img.slider__img(src="images/spectacles_slider.png" alt="some img" width="529px")
					a.btn.btn--slider(href="#") See more 