header.main-header
    .container
        nav.nav.nav--header
            ul.nav__list
                li: a.nav__link(href="#") Home
                li: a.nav__link(href="#") What I do
                li: a.nav__link(href="#") My works
                li: a.nav__link(href="#") About
                li: a.nav__link(href="#") Contact

        section.slider
            .slider__slide
                h2.slider__title Tacos cardigan truffaut Quanted!
                img.slider__img(src="#" alt="some img")
                a.btn.btn--slider(href="#") See more   
