header.header
    .container
        nav.nav
            ul.nav__list.nav--header
                li.nav__item: a.nav__link(href="#") Home
                li.nav__item: a.nav__link(href="#") What I do
                li.nav__item: a.nav__link(href="#") My works
                li.nav__item: a.nav__link(href="#") About
                li.nav__item: a.nav__link(href="#") Contact

        section.slider
            .slider__slide
                h2.slider__title Tacos cardigan truffaut Quanted!
                img.slider__img(src="#" alt="some img")
                a.btn.btn--slider(href="#") See more 