section.skills
	.container
		.skills__header
			h2.skills__title What I do
			p.skills__deskr Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
		.skils__features-wrap
			.skills__feature.skills__feature--headphones
				h3.skills__feature-title Ultricies
				p.skills__feature-descr Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
			.skills__feature.skills__feature--monitor
				h3.skills__feature-title Porttitor
				p.skills__feature-descr Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
			.skills__feature.skills__feature--photocam
				h3.skills__feature-title Curabitur
				p.skills__feature-descr Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text