section.skills
	.container
		.skills__header
			h2.skills__title.main_titles What I do
			p.skills__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
		.skills__features-wrap
			.skills__feature
				.skills__img.skills__img--headphones
				h3.skills__feature-title Ultricies
				p.skills__feature-descr Four dollar toast messenger bag green juice, organic cliche tofu synth small batch locavore austin. Squid mlkshk authe ntic pinterest, pour-over gastropub XOXO seitan sartorial humblebrag. 
			.skills__feature
				.skills__img.skills__img--monitor
				h3.skills__feature-title Porttitor
				p.skills__feature-descr Tofu mixtape selfies, swag brooklyn banh mi stumptown loca vore yr migas tousled chicharrones sriracha cray leggings. Street art tousled kale chips poutine schlitz. Pitchfork distillery next level, polaroid roof party austin.
			.skills__feature
				.skills__img.skills__img--photocam
				h3.skills__feature-title Curabitur
				p.skills__feature-descr Dreamcatcher deep v austin schlitz drinking vinegar, messen ger bag slow-carb. Migas tumblr kombucha you probably hav en't heard of them +1 chicharrones. Tilde wayfarers craft beer stumptown, humblebrag ugh whatever.