section.works
	.conteiner
		.works__title My works
	.works__gallery
		a(href="#").works__item: img(src="#" alt="img")
		a(href="#").works__item: img(src="#" alt="img")
		a(href="#").works__item: img(src="#" alt="img")
		a(href="#").works__item: img(src="#" alt="img")
	.conteiner
		button(type="button").btn.more Load more