section.works
	.conteiner
		.works__title.main_titles My works
	.works__gallery
		.works__gallery-wrap
			a(href="#").works__item: img(src="images/books_gallery.png" alt="img")
			a(href="#").works__item: img(src="images/bottle_gallery.png" alt="img")
		.works__gallery-wrap
			a(href="#").works__item: img(src="images/businessCard_gallery.png" alt="img")
			a(href="#").works__item: img(src="images/paper_gallery.png" alt="img")
	.conteiner
		button(type="button").btn.more Load more