.footer{
	background-color: $color-bg-footer;
	padding-top: 110px;
	
	@media (max-width: 1024px){
			padding-top: 20px;
		}
	
	&__header{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		
		@media (max-width: 1280px){
			justify-content: center;
			margin-bottom: 80px;
		}
	}
	
	&__title-wrap{
		width: 42%;
		text-align: left;
		
		@media (max-width: 1024px){
			text-align: center;
			width: auto;
		}
	}
	
	&__title{
		padding-left: 30px;
		padding-right: 30px;
		letter-spacing: 5px;
	}
	
	&__top{
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		
		@media (max-width: 1150px){
			flex-direction: column;
			align-items: center;
		}
	}
	
	&__contacts-wrap{
		padding-top: 82px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		min-width: 40%;
		
		
		@media (max-width: 1280px){
			padding-top: 25px;
		}
		
		@media (max-width: 1150px){
			min-width: 50%;
		}
	}
	
	&__soc-networks{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 150px;
		
		@media (max-width: 1280px){
			margin-bottom: 50px;
		}
		
		@media (max-width: 1150px){
			width: 100%;
		}
	}
	
	&__network{
		font-size: 0px;
		width: 82px;
		height: 82px;
		border-radius: 50%;
	}
	
	&__network--fb{
		background: $color-bg-footer url(../images/social__fb.png) no-repeat center center;
	}
	
	&__network--tw{
		background: $color-bg-footer url(../images/social__tw.png) no-repeat center center;
	}
	
	&__network--g{
		background: $color-bg-footer url(../images/social__g+.png) no-repeat center center;
	}
	
	&__network--pin{
		background: $color-bg-footer url(../images/social__pin.png) no-repeat center center;
	}
	
	&__network--lin{
		background: $color-bg-footer url(../images/social__Lin.png) no-repeat center center;
	}
	
	&__contacts{
		margin-bottom: 50px;
	}
	
	&__cont-wrap{
		margin-bottom: 45px;
		
		&__address{
			
		}
		
		&__phone{
			display: inline-block;
			margin-right: 30px;
		}
		
		&__email{
			display: inline-block;
			float: right;
		}
	}
	
	&__contact-title{
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: 1px;
		font-family: $ff-titles;
	}
	
	&__contact__descr{
		font-size: 16px;
		font-family: $ff-main;
		color: $color-font;
	}
	
	&__form{
		width: 668px;
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		padding-left: 10px;
		
		@media (max-width: 760px){
			padding-left: 10px;
			padding-right: 10px;
			width: 100%;
		}
	}
	
	&__form p{
		padding: 0;
		margin: 0;
		align-self: flex-start;
		padding-left: 10px;
		margin-bottom: 16px;
	}
	
	&__input-title{
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: 1px;
		font-family: $ff-titles;
		margin: 0;
		padding: 0;
	}
	
	&__form input{
		border-radius: 20px;
		border: 3px solid #000;
		background: $color-btn;
		width: 100%;
		font-size: 26px;
		line-height: 1.3;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
		outline: none;
		font-family: $ff-titles;
		margin-bottom: 22px;
	}
	
	&__form textarea{
		border-radius: 20px;
		border: 3px solid #000;
		background: $color-btn;
		width: 100%;
		font-size: 26px;
		line-height: 1.3;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
		outline: none;
		font-family: $ff-titles;
		min-height: 194px;
		margin-bottom: 65px;
	}
	
	&__btn{
		min-width: 150px;
		letter-spacing: 2px;
	}
	
	&__bottom{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		
		@media (max-width: 1124px){
			justify-content: center;
			flex-direction: column-reverse;
		}
	}
	
	&__copy{
		
	}
	
	&__copy-descr{
		font-family: $ff-titles;
		font-size: 18px;
		text-transform: uppercase;
	}
}