.header{
    min-height: 800px;
	background: $color-bg-header url(../images/bg_header.jpg) no-repeat center 0%;
	padding-bottom: 240px;
	position: relative;
	
	@media (max-width: 1124px){
		background-size: 120% auto;
		background-position: center center;
	}
	
	@media (max-width: 1024px){
		padding-bottom: 30px;
		min-height: auto;
	}
	
	&::after{
		content: "";
		display: block;
		position: absolute;
		height: 225px;
		width: 31px;
		bottom: 8px;
		left: 50%;
		margin-left: -15px;
		background: url(../images/Scroll_line.png) no-repeat;
		
		@media (max-width: 1024px){
			display: none;
		}
	}
}