.body {
    font-family: $ff-main;
    font-size: 1rem;
    line-height: 1.3;
}

html {
    box-sizing: border-box;
}

img{
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul,
ol {
    list-style-type: none;
}