// Fonts

$ff-main: 'opensans-light';
$ff-main-regular: 'opensans-regular';
$ff-titles: 'big-john';

//Colors

$color-bg-header: #fdd200;
$color-bg-body: #fef9fd;
$color-bg-footer: #d2eae3;
$color-bg-links-hover: #000000;
$color-font: #000000;
$color-font-desr: #8c898b;
$color-font-links: $color-font;
$color-font-links-header-hover: $color-bg-header;
$color-font-links-footer-hover: $color-bg-footer;
