// Fonts

$ff-main: 'helvetica-neue-regular';
$ff-main-light: 'helvetica-neue-light';
$ff-steps: 'georgia-bold';

//Colors

$color-link: #424242;
$color-link-hover: #de2b24;
$color-border-top: #e2e2e2;
$color-font-approch: #424242;
$color-form-section: #1287bf;